body {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

#leaderboard {
  margin-top: 10px;
  font-size: 18px;
}