@font-face {
  font-family: 'RopaSansPro';
  src: url("/my_first_steps/arquivos/ropasanspro-regular-webfont.woff2") format('woff2');
  src: url("/my_first_steps/arquivos/ropasanspro-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff7e9a6;
  color: #254642;
  font-family: 'RopaSansPro';
}

main {
  min-width: 300px;
  max-width: 750px;
}

p {
  margin-left: 13px;
}

h1 {
  writing-mode: vertical-rl;
  background-color: #445167;
  color: #fff8eb;
  text-align: center;
}

#hor {
  writing-mode: horizontal-tb;
  background-color: #445167;
  color: #fff8eb;
  text-align: center;
  margin: 0;
}

fieldset {
  border: 1px dashed #445167;
  display: flex;
}

legend {
  text-decoration: solid underline;
  font-weight: 900;
  font-size: 1.15em;
}

table,
th,
td {
  border: 1px double #445167;
  margin-top: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

table {
  margin-left: 15%;
  max-width: 750px;
  min-width: 375px;
}

tr:hover, li:hover {
  background-color: #A7ADB5;
}

img {
  max-width: 200px;
  height: auto;
}

.big {
  max-width: 375px;
  height: auto;
}

figure {
  padding: 5px 0 0px;
  margin: auto;
  display: flex;
}

.vertical {
  flex-direction: column;
}

.center {
  height: 300px;
}

#figcenter {
  flex-direction: column;
  align-items: center;
}

#figccenter {
  writing-mode: horizontal-tb;
  align-self: stretch;
}

figcaption {
  writing-mode: vertical-rl;
  background-color: #2B364A;
  color: white;
  font-style: bolder;
  padding: 3px;
  margin: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #445167;
}

a:hover {
  color: #254642;
  border-bottom: 2px dotted #254642 ;
}

li {
  list-style: square url(/my_first_steps/arquivos/ul.svg);
  font-size: 1.25em;
}

@media (min-width: 900px) {
  img {
    padding-left: auto;
  }
  table {
    padding-left: auto;
    margin: auto;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  img {
    padding-left: auto;
  }
  table {
    padding-left: auto;
  }
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 725px) {
  img {
    padding-left: auto;
    max-width: 300px;
  }
  table {
    padding-left: auto;
    margin: auto;
    margin-top: 20px;
  }
  body {
    margin-left: 0;
    margin-right: 0;
  }
}
