body {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  background-color: #ededed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  min-width: 300px;
  max-width: 750px;
}

h1 {
  writing-mode: vertical-rl;
  background-color: #80ced6;
  color: #ffffff;
  text-align: center;
}

#hor {
  writing-mode: horizontal-tb;
  background-color: #80ced6;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

fieldset {
  border: 1px dashed black;
}

legend {
  text-decoration: solid underline;
  font-weight: 900;
  font-size: 1.15em;
}

table,
th,
td {
  border: 1px double black;
  margin-top: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

table {
  margin-left: 15%;
  max-width: 750px;
  min-width: 375px;
}

tr:hover, li:hover {
  background-color: #D6EEEE;
}

img {
  max-width: 375px;
  height: auto;
  padding-left: 17%;
}

figure {
  padding: 5px 0 0px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 3px;
  margin: 15px;
  text-align: center;
}

p {
  margin-left: 13px;  
}

a {
  text-decoration: none;
  color: black;
}
@media (min-width: 900px) {
  img {
    padding-left: auto;
  }
  table {
    padding-left: auto;
    margin: auto;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  img {
    padding-left: auto;
  }
  table {
    padding-left: auto;
  }
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 725px) {
  img {
    padding-left: auto;
    max-width: 300px;
  }
  table {
    padding-left: auto;
    margin: auto;
    margin-top: 20px;
  }
  body {
    margin-left: 0;
    margin-right: 0;
  }
}